<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        li a{
            color: dodgerblue;
            line-height: 1.6em ;
        }
        h1{
            font-weight: lighter;
        }
        .hh{
            padding-top: 2rem;
            margin: auto;
            text-align: left;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body style="margin: 0rem 4rem;">
    <header>
        <div class="top">
            <p style="padding-left: 20px;">Notices, events, result, etc. <span style="background-color:red ;border-radius: 5px;">View</span> <span style="float: right;margin-right: 3rem ;">+977-1-4330844, +977-1-4331755, +977-1-4330120(Exam)</span></p>
        </div>
        <div class="header">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
            <h1 class="hh">Office of the Dean<br>
            Institute of Science and Technology <br>
            Tribhuvan University</h1>
        </div>        
        
        <nav>
            <a href="/">HOME</a>
            <a href="{% url 'aboutus' %}">ABOUT US</a>
            <a href="{% url 'notice' %}">NOTICE</a>
            <a href="{% url 'college' %}">COLLEGES</a>
            <a href="{% url 'program' %}">OUR PROGRAMS</a>
       </nav>
        </header>
        <main>
            <h1>Notices</h1>
            <ul style="list-style:inside ;">
                <li><a href="{% static 'notice/1.pdf' %}" download=""> M.Sc. IV Semester -075 Make Up Exam Centre Notice 31st Jul, 2022</a></li>
                <li><a href="{% static 'notice/2.pdf' %}" download=""> बाैद्धिक चाेरी परीक्षण अनिवार्य गरिएकाे बारे । 29th Jul, 2022</a></li>
                <li><a href="{% static 'notice/3.pdf' %}" download="">नवीकरण शुल्क सम्बन्धमा । 27th Jul, 2022</a></li>
                <li><a href="{% static 'notice/4.pdf' %}" download="">B.Sc.CSIT IV Semester-076 Exam Center Notice 24th Jul, 2022</a></li>
                <li><a href="{% static 'notice/5.pdf' %}" download="">B.Sc.CSIT VIII Semester-074 Exam Centre Notice 24th Jul, 2022</a> </li>
                <li><a href="{% static 'notice/6.pdf' %}" download=""> छात्रवृत्ति सूची सच्याइएकाे बारे 20th Jul, 2022</a></li>
                <li><a href="{% static 'notice/7.pdf' %}" download=""> M.Sc. Chemistry III Semester 076 Exam Centre Notice 20th Jul, 2022</a></li>
                <li><a href="{% static 'notice/8.pdf' %}" download="">  जेहेन्दार छात्रवृत्ति सम्बन्धी सूचना 19th Jul, 2022</a></li>
                <li><a href="{% static 'notice/9.pdf' %}" download="">  BIT I Semester -078 Exam Form Filling Notice 14th Jul, 2022</a></li>
                <li><a href="{% static 'notice/10.pdf' %}" download="">  B.Math.Science III Sem.2077, IV sem.076 & VII sem.075 Exam Form Filling Notice 14th Jul, 2022</a></li>
                <li><a href="{% static 'notice/11.pdf' %}" download=""> Master in Data Science II semester-077 Exam Form Filling Notice 14th Jul, 2022</a></li>
                <li><a href="{% static 'notice/12.pdf' %}" download=""> छात्रवृत्ति सम्बन्धी कार्यनिर्देशिका पठाइएकाे बारे 14th Jul, 2022</a></li>
            </ul>
        </main>
        <footer style="text-align: center;color:#FFFFFF;background-color:#2C3E50;">
            &copy;2022 - All Rights Reserved<br>
            tuiost.edu.np
        </footer>
</body>
</html>